{namespace feedback=In2code\Feedback\ViewHelpers}
<f:form action="save" object="{feedback}" objectName="feedback">
	<fieldset>
		<legend>Feedback</legend>
		<f:form.hidden property="data" value="{data}" />
		<f:form.hidden property="url" value="{url}" />
		<f:form.hidden property="pid" value="{currentPid}" />
		<div>
			<f:comment>
				<feedback:form.typeSelect property="type" />
			</f:comment>
			<f:for each="{feedbackTypes}" as="feedbackType">
				<f:form.radio property="type" value="{feedbackType.uid}" id="type_{feedbackType.uid}" />
				<label for="type_{feedbackType.uid}">{feedbackType.title}</label>
			</f:for>
			<f:render partial="ValidationErrors" arguments="{for:'feedback.type'}" />
		</div>
		<div>
			<f:form.textarea property="comment" data="{'no-rte':'true'}" />
			<f:render partial="ValidationErrors" arguments="{for:'feedback.comment'}" />
		</div>
		<div>
			<f:form.submit value="Senden" />
			<button type="button" class="in2code-feedback-abort-button">Abbrechen</button>
		</div>
	</fieldset>
</f:form>
