.in2code-feedback-button {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99999;
  background-color: red;
  opacity: 0.5;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
}
.in2code-feedback-button:hover {
  color: #fff;
  opacity: 0.9;
}

.in2code-feedback-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.6);
  display: none;
  overflow: auto;
  z-index: 99999;
  width: 40%;
  border: 1px solid black;
  background-color: #fff;
  color: #000;
  padding: 20px;
}

.in2code-feedback-form.active {
  display: block;
}

.in2code-feedback-form--small {
  color:#666;
  font-size: .8em;
}

.in2code-feedback-form fieldset,
.in2code-feedback-form input[type="submit"] {
  margin:0;
}

.in2code-feedback-form textarea {
	width: 100%;
	height:50px;
}
