<div type="button" class="in2code-feedback-button">FEEDBACK ({feedback->f:count()})</div>
<div class="in2code-feedback-form">
	<f:for each="{feedback}" as="feedbackItem">
		<div>
			<div class="in2code-feedback-form--small">
				{feedbackItem.crdate->f:format.date(format:'d.m.Y H:i')} -
				<f:render partial="User" section="Username" arguments="{object:feedbackItem}" /> -
				<a href="{feedbackItem.url}">URL</a>
			</div>
			<f:if condition="{feedbackItem.feUser.usergroup}">
				<f:render partial="User" section="Usergroups" arguments="{object:feedbackItem}" />
			</f:if>
			<div>{feedbackItem.comment->f:format.html()}</div>
			<f:if condition="{feedbackItem.answers}">
				<f:for each="{feedbackItem.answers}" as="answer">
					<f:render partial="Answer" arguments="{answer:answer}" />
				</f:for>
			</f:if>
			<div class="in2code-feedback-answer">
				<f:render partial="Form/Answer" arguments="{_all}" />
			</div>
		</div>
		<hr />
	</f:for>
	<f:render partial="Form/Feedback" arguments="{_all}" />
</div>

<script>
(function() {
	var overlay = document.querySelector('.in2code-feedback-form');
	var feedbackButton = document.querySelector('.in2code-feedback-button');
	var abortButton = document.querySelector('.in2code-feedback-abort-button');

	feedbackButton.addEventListener('click', function() {
		overlay.classList.add('active');
	});
	abortButton.addEventListener('click', function() {
		overlay.classList.remove('active');
	});
})();
</script>
