<div type="button" class="in2code-feedback-button">FEEDBACK ({feedback->f:count()})</div>
<div class="in2code-feedback-form">
	<f:for each="{feedback}" as="feedbackItem">
		<div>
			<div class="in2code-feedback-form--small">
				{feedbackItem.crdate->f:format.date(format:'d.m.Y H:i')} -
				<f:if condition="{feedbackItem.user}">
					<strong>{feedbackItem.user.username}</strong>
					({feedbackItem.user.email}) -
				</f:if>
				<a href="{feedbackItem.url}">URL</a>
			</div>
			<f:if condition="{feedbackItem.user.usergroup}">
				<div class="in2code-feedback-form--small">
					<strong>Gruppe(n):</strong>
					<f:for each="{feedbackItem.user.usergroup}" as="usergroup" iteration="i">
						<f:if condition="!{i.isFirst}">, </f:if>{usergroup.title}
					</f:for>
				</div>
			</f:if>
			<div>{feedbackItem.comment->f:format.html()}</div>
		</div>
		<hr />
	</f:for>
	<f:form action="save" object="{feedback}" objectName="feedback">
		<fieldset>
			<legend>Feedback</legend>
			<f:form.validationResults for="feedback">
				<f:if condition="{validationResults.flattenedErrors}">
					<ul>
						<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
							<f:for each="{errors}" as="error">
								<li>{error.message} ({propertyPath})</li>
							</f:for>
						</f:for>
					</ul>
				</f:if>
			</f:form.validationResults>
			<f:form.hidden property="url" value="{url}" />
			<f:form.hidden property="pid" value="{currentPid}" />
			<div>
				<f:form.textarea property="comment" />
			</div>
			<div>
				<f:form.submit value="Senden" />
				<button type="button" class="in2code-feedback-abort-button">Abbrechen</button>
			</div>
		</fieldset>
	</f:form>
</div>

<script>
(function() {
	var overlay = document.querySelector('.in2code-feedback-form');
	var feedbackButton = document.querySelector('.in2code-feedback-button');
	var abortButton = document.querySelector('.in2code-feedback-abort-button');

	feedbackButton.addEventListener('click', function() {
		overlay.classList.add(['active']);
	});
	abortButton.addEventListener('click', function() {
		overlay.classList.remove(['active']);
	});
})();
</script>
